.aboutme {
  padding: 60px;
  margin-top: 50px;
  text-align: center;
  background-image: url('https://shinmikouji.github.io/sky.jpg');
  background-size: cover;
  .inner {
    .myphoto {
      width: 400px;
      border-radius: 50%;
      margin-top: 30px;
    }
    .introduce {
      margin-top: 30px;
      font-size: 24px;
      font-size: 2.4rem;
    }
    .intro-cont {
      margin-top: 15px;
      padding: 10px;
      .intro-text {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
    .education {
      margin-top: 20px;
      font-size: 24px;
      font-size: 2.4rem;
    }
    .education-cont {
      margin-top: 15px;
      .edu-text {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
  }
}