.service {
  padding: 60px 40px;
  @include overTab {
    padding: 80px 60px;
  }
  .service-list {
    margin-top: 60px;
    @include overTab {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
    .service-item {
      box-shadow: 0 0 14px grey;
      + .service-item {
        margin-top: 60px;
        @include overTab {
          margin-left: 20px;
          margin-top: 0;
        }
      }
      .coding-image:first-child {
        width: 100%;
        height: 280px;
      }
      .title {
        padding: 5px;
        text-align: center;
        font-size: 18px;
        font-size: 1.8rem;
      }
      .text {
        padding: 8px;
        text-align: center;
        .desc {
          font-size: 14px;
          font-size: 1.4rem;
        }
        .price {
          margin-top: 10px;
          font-size: 12px;
          font-size: 1.2rem;
          line-height: 1.5;
        }
      }
    }
  }
}